body{
    margin:0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",system-ui,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Web",sans-serif;
}
/* TAMAÑO DE LAS FIGURAS */
.logo{
  width: 40px;
  margin-left: 5px;
}
.preguntas{
    width: 20px;
    height: 20px;
}
.flechaizquierda{
    width: 30px;
    height: 20px;
}
.flechaderecha{
    width: 30px;
    height: 20px;
}

/* FORMA DEL ENCABEZADO */
.cabecera{
display:flex;
width: 71%;
padding: 6px;
align-items: center;
background-color: white;
border-bottom: 1px solid #ccc;

}

.cabecera .botonregresar{
  position: relative;
  left: 1%;
  border: none !important;
  background-color: rgb(159, 149, 149);
  border-radius: 40%;
  padding: 10px;
}

.cabecera label{
  position: relative;
  left: 2%;
}

.cabecera .guardar{
  position: relative;
  left: 53%;
  border: none !important;
  background-color: white;
}

.cabecera .botones{
  position: relative;
  left: 54%;
  border: none !important;
  background-color: white;
}

.cabecera .comentarios{
  position: relative;
  left: 56%;
  border: none !important;
  background-color: rgb(159, 149, 149);
  border-radius: 40%;
  padding: 10px;
}

.cabecera .avance{
  position: relative;
  left: 58%;
  border: none !important;
  background-color: rgb(159, 149, 149);
  border-radius: 40%;
  padding: 10px;
}

.cabecera .publicar{
  position: relative;
  left: 60%;
  border: none !important;
  background-color: #2c6bff !important;
  border-radius: 40%;
  padding: 10px;
  color: white
  
}

.botonpregunta{
  position: relative;
  border-radius: 100%;
  border-color: gray;
  left: 62%;
}

/*COLUMNA CONFIGURACIONES DE LA COLUMNA*/
.container{
  display: flex;
}
  
  .column {
    /* padding: 2px; */
    border: none;
    box-sizing: border-box;
  }

  ul{
    list-style-type: none;
    padding: 0px;
    margin: 0%;
  }

  /* PRIMERA COLUMNA */

  .imagenopciones{
    width: 30px;
    height: 30px;
  }

  .opciones{
    width: 4%;
    height: 100%;
    min-height: 100vh;
    background-color: #232567;
    padding: 10px;
    padding-bottom: 35.8%
  }

  .opciones label{
    color: white;
    font-size: 10px;
  }

  /* SEGUNDA COLUMNA */
.imagencerrar{
  width: 100%;
  height: 100%;
}

.column-curriculo{
  width: 14%;
  background-color: #04054d;
  padding-left: 0%;
  padding-right: 0%;
  left: 200px;;
}


.opcionescurriculo .botoncerrar{
  position: absolute;
  margin-top: 20px;
}

.curriculo .opcionescurriculo{
  border-bottom: 1px solid #ccc;
  height: 55px;
}
  
.cerrarPestaña{
  position: absolute;
  color: rgb(196, 193, 193);
  border: none;
  background-color: #04054d;
  width: 45px;
  height: 30px;
  top: 50px;
  margin-left: 139px;
  font-size: 12px;
}

.cerrarPestaña:hover{
  color: black;
}

.curriculo .opcionescurriculo{
  border-bottom: 1px solid #ccc;
  height: 55px;
}


.opcionescurriculo label{
  font-family: 'Righteous';
  color: white;
  padding-left: 7%;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.opcionescurriculo label:hover{
  color: black;
  font-weight: bold;
}

.opcionescurriculo h3{
  font-family: 'Righteous';
  color: white;
  padding-left: 7%;
  font-size: 15px;
}

.opcionescurriculo p{
  position: absolute;
  font-family: 'Righteous';
  top: 100px;
  margin-left: 0.8%;
  background-color: rgb(97, 97, 216);
  color: white;
  padding-right: 9%;
  padding-left: 0.3%;
  padding-bottom: 0.4%;
  padding-top: 0.2%;
  font-size: 15px;
  cursor: pointer;
}

.opcionescurriculo i:hover{
  color: black;
}

.opcionescurriculo p:hover{
  color: black;
  font-weight: bold;
}

.column-curriculo a i{
  position: relative;
  color: rgb(202, 198, 198);
  height: 0;
  padding: 0;
  font-size: 15px;
  margin-left: 79%;
  bottom: 0.5%;
  transform: translateY(-50%);
}

.imagenescurriculo ul{
  position: relative;
  left: 4.8%;
  top: 25%;

}

.imagenescurriculo li{
  margin-bottom: 20px;
}

.imagenescurriculo li img{
  border-radius: 5px;
}

.column{
  font-size: 25px;
}

.column label{
  position: relative;
  top: -16px;
  margin-left: 14%;
  cursor: pointer;
}

.column label:hover{
  color: rgb(83, 83, 216)
}

.column ul li i{
  color: white;
  margin-left: 20%;
  padding: 0;
}
.column  i:hover{
  color: rgb(79, 79, 211)
}

  .info-General{
    display:inline-block;
    background-color: #dadce5;
    width: 74.5%;
    vertical-align: top;
  }
  .info-Curso{
    display:inline-block;
    background-color:#737686;
    width: 100%;
    height: 60%;
    padding: 0;
    margin-top: 7%;
    
  }

  
    .datos-Curso{
      display: inline-block;
      color: white;
      margin-top: 6%;
      margin-left: 15%;
      width: 32%;
      background-color: #737686;
      height: 70%;
      justify-content: left;
    }
    

  .titulo-Peq{
    font-size: small;
    font-family: 'Arial'serif;
  }
  .titulo-Gran{
    font-size:230%;
    font-family: 'Times New Roman', Times, serif;
  }
  .parrafo-Cur{
    font-size: medium;
    font-family: tim;
  }
  .precios{
    display: inline-block;
  }
  .boton-Cur{
    width: 42%;
    text-align: center;
    height: 13%;
    background-color: #9aa7af;
    border: 2px solid #eef1f3;
    color: #47728d;
    cursor: pointer;
  }
.start{
  font-style: bold white;
  font-family: "Gill Sans Extrabold";
}
/* Container Hombre */

.container-hombre{
  display: inline-block;
  vertical-align: top;  
  background-color: #bacdd8;
  width: 27%;
  height: 98%;
  margin-left: 10%;
  margin-top: 22px;
  align-items: center;
}

.foto-hombre{
  width: 200px;
  height: 180px;
  margin-left: 12px;
  margin-top: 12px;
  border: 20px  solid;
  border-color: #c2e0e0;
}
/*contendor azul de editar foto del hombre*/
.editar-foto{
  position: flex;
  background-color: #04054d;
  width: 75%;
  height: 45%;
  vertical-align: middle;
  border-radius: 20%;
  margin-left: 13%;
  margin-top: 5%;
}


/* botones flotantes */

.botonFlot{
  position: fixed;
  background-color: #e8e4e4;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 6px;
  bottom: 20px;
  right: 20px;
}
#p1{
  bottom: 20px;
}
#p2{
  bottom: 85px;
}
#p3{
  bottom: 150px;
}
#p4{
  bottom: 215px;
}
.tamano{
  height: 40px;
  width: 40px;
}
/* Estilos para el footer */
.site-footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.site-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.site-footer .footer-logo img {
  max-width: 150px;
  height: auto;
}

.site-footer .footer-menu ul {
  list-style: none;
  padding: 0;
}

.site-footer .footer-menu ul li {
  margin-bottom: 10px;
}

.site-footer .footer-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.site-footer .footer-menu a:hover {
  color: #00bcd4;
}

.site-footer .footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.site-footer .footer-social i {
  font-size: 24px;
}

.site-footer .footer-info {
  text-align: right;
}
.botonsup{
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 0;
  margin-top: 1px;
}
#botonessup2{
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 15px;
  border-bottom: 1px solid white;
  margin-left: 10px;
}
#midsup{
  height: 40%;
}
#botonesmid{
  height: 12%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 15px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-left: 10px;
}
 .margintop{
  margin-top: 3px;
 }
 .transparent{
  background-color: transparent;
  border: 0;
  display: block;
 }
 .inline{
  display: inline-block;
  padding: 0;
  margin: 0;
 }
 .margen{
  margin-left: 30%;
 }

